table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
*, *:before, *:after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

html {
    overflow-y: scroll;
}

body {
    background: url(assets/images/image.jpg);
    -webkit-background-size: 100%;
    background-size: 100%; /* Современные браузеры */
    max-width:100%;
    height:100%;;
    /*background-size: cover;*/
    font-family: "Titillium Web", sans-serif;
}
body.page-15 {
    background: url(assets/images/bodyerr.jpg);
    -webkit-background-size: 100%;
    background-size: 100%; /* Современные браузеры */
    max-width:100%;
    height:100%;;
    /*background-size: cover;*/
    font-family: "Titillium Web", sans-serif;
}
a {
    text-decoration: none;
    color: #1ab188;
    transition: 0.5s ease;
}
a:hover {
    color: #179b77;
}

.form {
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}
.tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
}
.tab-group .active a {
    background: #1ab188;
    color: #ffffff;
}

.tab-content > div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}
h3{
    color: #1ab188;
}
label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}
label .req {
    margin: 2px;
    color: #1ab188;
}

label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}
label.active .req {
    opacity: 0;
}

label.highlight {
    color: #ffffff;
}

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 7%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
input:focus, textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}
.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}
.top-row > div:last-child {
    margin: 0;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #1ab188;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.button:hover, .button:focus {
    background: #179b77;
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}
.headcenter{
    background: rgba(19, 35, 47, 0.9);
    max-width: 600px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    position:absolute;
    top: 30%;
    left: 40%;
    right: 25%;
    z-index: 0;


    height: 30%;
}
.playB{

    max-width: 300px;
    border-radius: 4px;
    color: #1ab188;
    position:absolute;
    top: 30%;
    left: 40%;
    right: 25%;
    z-index: 0;


    height: 30%;
}

.playC{

    max-width: 300px;
    border-radius: 4px;
    color: #1ab188;
    position:absolute;
    top: 18%;
    left: 40%;
    right: 25%;
    z-index: 0;


    height: 30%;
}

.headerName{

    border-radius: 0;
    padding: 15px 0;
    font-size: 3rem;
    font-weight: 600;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-decoration: none;
    color: #ff0000;
    transition: 0.5s ease;
    border-radius: 4px;
    position:absolute;
    top: 0;
    left: 40%;
    right: 25%;
    z-index: 0;
}
.header__logo{

    height: 50%;
    width: 60%;
    margin:auto;
    font-size: 100px;
    font-weight: 700;
    /*border:  0;*/
    align-items: left;
}
.adm{

    height: 40%;
    width: 40%;
    /*margin:auto;*/
    /*border:  0;*/
}
.choose_server{
    font-size: 20px;
    color: #fff;
}


.headright{
    position:absolute;
    top: 90%;
    left: 90%;
    right: 0;
    z-index: 0;

}

.headleft{
    width: 20%;
    position:absolute;
    top: 80%;
    left: 5%;
    right: 0;
    z-index: 0;
}

.menuleft{

    flex-direction: column-reverse;
    margin:  auto ;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    align-items: center;
}


.headcenterserv{
    background: rgba(19, 35, 47, 0.9);
    max-width: 600px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    position:absolute;
    top: 20%;
    left: 40%;
    right: 20%;
    z-index: 0;


    height: 50%;
}
.headcentershop{

    background: rgba(19, 35, 47, 0.9);
    max-width: 600px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    position:absolute;
    top: 20%;
    left: 40%;
    right: 20%;
    z-index: 0;


    height: 50%;
}
.header__shop{
    width: 20%;
    margin:auto;
    font-size: 20px;
    font-weight: 700;


}

/*# sourceMappingURL=styles.css.map */

